.body {
    height: 100vh;
    display: flex;
    align-items: center;

    >.form {
        max-width: 320px;
        padding: 25px;
        margin: 20px auto;
        border-radius: 15px;
        background-color: #f8f8f8;

        >.container {
            display: block;
            padding: 8px 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            font-family: inherit;
            font-size: 16px;
        }

        >.button {
            display: block;
            width: 100%;
            padding: 8px 10px;
            border: 0;
            background-color: rgb(76, 68, 108);
            cursor: pointer;
            font-family: inherit;
            font-size: 16px;
            color: #fff;

            &:hover {
                background-color: rgb(101, 87, 156);
            }
        }
    }

}