.body { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
   
    > nav { 
      display: flex; 
      gap: 15px; 
      
      > a {
        text-align: center;
      }
    } 
   
    > div { 
      flex-grow: 1; 
      margin: 0 32px; 
    } 
  } 
   
.logo { 
  display: flex;
  align-items: center;
  border-radius:50%;
  overflow: hidden  ;
}

.barText{
  margin: 0;
}

.button{
  transform: rotate(180deg);
}

.cartContainer{
  position: relative;
}

.cartContainerCount{
  position: absolute;
  top:-25%;
  left: 75%;
  width: 22px;
  height: 22px;
  background:rgb(249, 17, 85);
  color:white;
  border-radius: 50%; 
}